<header class='sticky top-0 z-30 h-14 w-full hidden sm:flex flex-row items-center justify-between gap-4 pl-16 pr-4'>
    <div class='w-1/2 flex flex-row items-center gap-4'>
    <%= render partial: 'components/layout/nav_dropdown' %>
    <%= render_breadcrumbs separator: '> ' %>
    </div>
    <div class='h-full w-1/2 flex flex-row items-center justify-end gap-4'>
      <%= render_input name: 'search', id: 'search', placeholder: 'Search...', class: 'w-1/3' %>
        <%= render partial: 'components/layout/mode_switch' %>
        <%= render partial: 'components/layout/account_modal' %>
    </div>
</header>