<header data-turbo-permanent id='mobile_header' class="sticky top-0 z-30 h-fit w-full flex flex-row justify-between py-2 px-6 sm:hidden bg-background">
    <%= render_sheet direction: "left" do %>
        <%= sheet_trigger do %>
            <%= render_button variant: :outline do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <% end %>
        <% end %>
        <%= sheet_content do %>
            <div class='mt-4 h-full w-full flex flex-col justify-between'>
                <nav class="flex-1 h-full flex flex-col text-lg font-medium">
                    <%= dropdown_menu_item do %>
                        <%= render_button "Clients", href: clients_path, as: :link, variant: :ghost, class: 'text-muted-foreground w-full' %>
                    <% end %>
                    <%= dropdown_menu_item do %>
                        <%= render_button "Research", href: research_index_path, as: :link, variant: :ghost, class: 'text-muted-foreground w-full' %>
                    <% end %>
                    <%= dropdown_menu_item do %>
                        <%= render_button "Workplan", href: workplan_index_path, as: :link, variant: :ghost, class: 'text-muted-foreground w-full' %>
                    <% end %>
                    <%= dropdown_menu_item do %>
                        <%= render_button "Users", href: users_path, as: :link, variant: :ghost, class: 'text-muted-foreground w-full' %>
                    <% end %>
                </nav>
            </div>
        <% end %>
    <% end %>
    <div class='h-full w-fit flex flex-row items-center justify-end'>
        <%= render partial: 'components/layout/mode_switch' %>
        <%= turbo_stream_from "alerts_#{current_user.id}"%>
        <%= turbo_frame_tag "alerts_#{current_user.id}", src: alerts_path do %>
        <% end %>
        <%= render partial: 'components/layout/account_modal' %>
    </div>
</header>