<%= render_form_for client, url: client_path(client), method: :delete do |f| %>
  <%= render_dialog do %>
    <%= dialog_trigger do %>
      <%= render_button 'Delete', variant: :destructive, class: 'w-full' %>
    <% end %>
    <%= dialog_content do %>
      <div class="flex flex-col space-y-2 sm:text-left">
        <h2 class="text-lg font-semibold">Are you absolutely sure?</h2>
        <p class="text-sm text-muted-foreground">
        This action cannot be undone. This will permanently delete <%= client.name %> and remove their data from our servers.
        </p>
      </div>

      <div class="flex w-full flex-row items-center justify-end gap-2 mt-4">
        <%= render_button "Cancel", variant: :outline, data: { action: "ui--dialog#close" } %>
        <%= f.submit "Delete", variant: :destructive, data: { turbo: false } %>
      </div>
    <% end %>
  <% end %>
<% end %>
