<%= render_dialog do %>
  <%= dialog_trigger do %>
    <%= render_button variant: :outline do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
      </svg>
    <% end %>
  <% end %>
  <%= dialog_content do %>
    <%= render_form_for client, method: :patch do |f| %>
      <%= render_carousel do %>
        <%= carousel_slides do %>
          <%= carousel_slide do %>
            <%= f.label :name %>
            <%= f.text_field :name, autocomplete: 'name' %>

            <%= f.label :abbreviation %>
            <%= f.text_field :abbreviation, autocomplete: 'none' %>

            <div class='flex flex-row gap-2'>
              <%= f.label :status %>
              <%= f.select_field :status, class: 'w-full', selected: @client.status do |select| %>
                <% Client.statuses.each do |key, value| %>
                  <%= select.option label: key, value: key %>
                <% end %>
              <% end %>
            </div>

            <%= f.file_field :logo %>

            <%= f.label :mission %>
            <%= f.textarea :mission, autocomplete: 'none' %> 
          <% end %>
          <%= carousel_slide do %>
            <%= f.label :website %>
            <%= f.text_field :website, autocomplete: 'url' %>

            <%= f.check_box :nonprofit_status, label: 'Registered Nonprofit' %>
            <%= f.label :nonprofit_status %>

            <%= f.label :issue_areas %>
            <%= f.text_field :issue_areas, autocomplete: 'off' %>

            <%= render_separator class: 'my-4' %>

            <%= f.submit 'Save', class: 'w-full' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

