<% if current_user.client_manager %>
    <%= render_dialog do %>
        <%= dialog_trigger do %>
            <%= render_button 'Create Client' %>
        <% end %>
        <%= dialog_content do %>
            <%= turbo_frame_tag 'client_form' do %>
                <%= render partial: 'form', locals: { client: @client } %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<%= turbo_frame_tag "clients_#{dom_id(current_user)}" do %>
  <%= render partial: 'clients' %>
<% end %>
</div>
