<div id="<%= dom_id(@client) %>" class='h-full w-full flex flex-col gap-4'>
  <div class='flex flex-row items-start sm:items-center gap-4 px-6 py-4 bg-gradient-to-b from-primary to-secondary'>
    <div class='w-fit'>
      <% if @client.logo.attached? %>
        <%= render_avatar src: url_for(@client.logo), alt: @client.name, variant: :large %>
      <% else %>
        <%= render_avatar src: nil, alt: 'logo placeholder', variant: :large %>
      <% end %>
    </div>
    <div class='h-full w-full flex flex-col gap-2'>
      <h1 class='text-xl sm:text-3xl text-background dark:text-muted-foreground truncate'><%= @client.name %></h1>
      <p class='text-xs sm:text-sm text-background dark:text-muted-foreground'><%= @client.mission %></p>
      <ul class='max-h-24 w-full flex flex-row flex-wrap gap-2 text-xs overflow-y-auto'>
        <% @client.issue_areas.each do |issue_area| %>
          <li class='px-2 py-1 bg-accent text-accent-foreground rounded-md text-nowrap'>
            <%= issue_area %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class='h-full w-full flex flex-col gap-4 px-6'>
    <div class='w-fit flex flex-row gap-4'>
      <%= render partial: 'edit_form', locals: { client: @client } %>
      <%= render partial: 'delete_form', locals: { client: @client } %>
    </div>
  <%= render_tabs do %>
    <%= tab_list do %>
      <%= tab "Details", active: true %>
      <%= tab "Prospects" %>
      <%= tab "Grants" %>
      <%= tab "Projects" %>
      <%= tab "Contracts" %>
    <% end %>
    <%= tab_panels do %>
      <%= tab_panel active: true do %>

      <% end %>
      <%= tab_panel do %>

      <% end %>
      <%= tab_panel do %>

      <% end %>
      <%= tab_panel do %>

      <% end %>
      <%= tab_panel do %>

      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
