<%= render_dropdown_menu do %>
    <%= dropdown_menu_trigger do %>
        <div id='alert_trigger' class='relative'>
            <%= render_button variant: :ghost, class: 'px-2' do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                </svg>
            <% end %>
            <% if count > 0 %>
                <div class='absolute top-0 left-2 h-4 w-fit p-2 flex items-center justify-center rounded-full bg-destructive text-[10px] leading-none text-center text-destructive-foreground'>
                    <%= count %>
                </div>
            <% end %>
        </div>
    <% end %>
    <%= dropdown_menu_content do %>
        <% if notifications.any? %>
            <ul class='h-fit w-full flex flex-col gap-1 overflow-hidden text-muted-foreground text-xs'>
                <% notifications.each do |notification| %>
                    <li id="alert_<%= notification.id %>" class='h-fit w-full hover:bg-muted hover:text-muted-foreground p-2'>
                        <%= notification.message %>
                    </li>
                <% end %>
            </ul>
        <% else %>
            <div class='h-full w-full flex items-center justify-center px-4 py-6 truncate text-sm text-muted-foreground text-center'>
                No notifications to display
            </div>
        <% end %>
        <div class='h-6 w-full text-center text-muted-foreground text-xs'>
            <%= link_to 'See More', notifications_path, data: { turbo: false } %>
        </div>
    <% end %>
<% end %>