<%= render_tabs do %>
  <%= tab_list do %>
    <%= tab 'Prospect Information' %>
    <%= tab 'Programs' %>
    <%= tab 'Grants' %>
  <% end %>
  <%= tab_panels do %>
    <%= tab_panel do %>
      <div class='flex flex-col gap-4 p-6'>
        <%= @prospect.vision %>
      </div>
    <% end %>
    <%= tab_panel do %>
      <%= turbo_frame_tag "#{dom_id(@organization)}_programs", src: organization_programs_path %>
    <% end %>
    <%= tab_panel do %>
      <%= turbo_frame_tag "#{dom_id(@organization)}_grants", src: organization_grants_path %>
    <% end %>
  <% end %>
<% end %>
