<%= turbo_frame_tag 'grant_form', loading: 'lazy' do %>
  <%= render_form_for [organization, grant], url: path, method: method, class: 'flex flex-col gap-4' do |f| %>
    <% unless method == :delete %>
      <span class='text-xs text-destructive'><%= grant.errors[:base].first %></span>
      <%= f.label :recipient_name%>
      <%= f.text_field :recipient_name, autocomplete: 'organization' %>
      <%= f.error_message :recipient_name %>

      <%= f.label :recipient_id, label: 'Recipient' %>
      <%= f.select_field :recipient_id, selected: -1, disabled: -1, class: 'w-full' do |select| %>
        <%= select.option label: 'Select organization...', value: -1 %>
        <% organizations.each do |org| %>
          <%= select.option label: org[1], value: org[0] %>
        <% end %>
      <% end %>

      <%= f.label :description %>
      <%= f.textarea :description %>
      <%= f.error_message :description %>

      <%= f.label :amount %>
      <%= f.number_field :amount, autocomplete: 'transaction-amount' %>
      <%= f.error_message :amount %>

      <div class='w-full flex flex-row gap-2'>
        <div class='w-1/2 space-y-2'>
          <%= f.label :grant_type %>
          <%= f.select_field :grant_type, selected: -1, disabled: -1, class: 'w-full' do |select| %>
            <%= select.option label: 'Grant type...', value: -1 %>
            <% Grant.grant_types.each do |type| %>
              <%= select.option label: type[0].titleize, value: type[0] %>
            <% end %>
          <% end %>
        </div>
        <div class='w-1/2 space-y-2'>
          <%= f.label :purpose %>
          <%= f.select_field :purpose, selected: -1, disabled: -1, class: 'w-full' do |select| %>
            <%= select.option label: 'Purpose...', value: -1 %>
            <% Grant.purposes.each do |purpose| %>
              <%= select.option label: purpose[0].titleize, value: purpose[0] %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class='w-full flex flex-row gap-2'>
        <div class='space-y-2'>
          <%= f.label :duration %>
          <%= f.number_field :duration, autocomplete: 'off', value: grant.duration || 0 %>
        </div>
        <div class='space-y-2'>
          <%= f.label :year %>
          <%= f.text_field :year, autocomplete: 'off' %>
        </div>
      </div>
      <%= f.error_message :duration %>
      <%= f.error_message :year %>

      <%= render_separator class: 'my-6' %>
      <%= f.submit 'Create Grant' %>
    <% else %>
      <%= render_button variant: :ghost do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
      <% end %>
    <% end %>
  <% end %>
<% end %>
