<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <%= render_button variant: :outline do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        <% end %>
        <%= dialog_content do %>
          <%= render partial: 'forms/organization_form',
            locals: { resource: @organization,
                      path: organization_path(@organization),
                      method: :patch } %>
        <% end %>
      <% end %>
    <% end %>
    <%= tooltip_content do %>
      <span class='text-xs text-muted-foreground'>
        Edit <%= @organization.name %>
      </span>
    <% end %>
  <% end %>
<% end %>

<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render partial: 'forms/organization_form',
      locals: { resource: @organization,
                path: organization_path(@organization),
                method: :delete } %>
  <% end %>
  <%= tooltip_content do %>
    <span class='text-xs text-muted-foreground'>
      Delete <%= @organization.name %>
    </span>
  <% end %>
<% end %>

<% unless @organization.prospect.id %> 
  <div id='prospect_form_trigger'>
  <%= render_tooltip do %>
    <%= tooltip_trigger do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= render_button variant: :outline do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          <% end %>
        <% end %>
        <%= dialog_content do %>
          <%= render partial: 'forms/prospect_form',
            locals: { organization: @organization,
                      prospect: @prospect,
                      path: organization_prospects_path(@organization.id),
                      method: :post } %>
        <% end %>
      <% end %>
      <%= tooltip_content do %>
        <span class='text-xs text-muted-foreground'>
          Add prospect information
        </span>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>

<div class='flex flex-row items-center gap-4'>
  <%= render_tooltip do %>
    <%= tooltip_trigger do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= render_button variant: :ghost do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
            </svg>
          <% end %>
        <% end %>
        <%= dialog_content do %>
          <%= render partial: 'forms/grant_form',
            locals: { organization: @organization,
                      organizations: @organizations,
                      grant: @grant,
                      path: organization_grants_path(@organization.id),
                      method: :post } %>
        <% end %>
      <% end %>
    <% end %>
    <%= tooltip_content do %>
      <span class='text-xs text-muted-foreground'>
        Add grant for <%= @organization.name %>
    </span>
  <% end %>
<% end %>

<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <%= render_button variant: :ghost do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0 1 12 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0h7.5c.621 0 1.125.504 1.125 1.125M3.375 8.25c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m17.25-3.75h-7.5c-.621 0-1.125.504-1.125 1.125m8.625-1.125c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M12 10.875v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125M13.125 12h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125M20.625 12c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5M12 14.625v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 14.625c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m0 1.5v-1.5m0 0c0-.621.504-1.125 1.125-1.125m0 0h7.5" />
          </svg>
        <% end %>
      <% end %>
      <%= dialog_content do %>
        <%= render partial: 'forms/program_form',
          locals: { organization: @organization,
                    program: @program,
                    path: organization_programs_path(@organization.id),
                    method: :post } %>
      <% end %>
    <% end %>
  <% end %>
  <%= tooltip_content do %>
    <span class='text-xs text-muted-foreground'>
      Add program for <%= @organization.name %>
  </span>
<% end %>
    <% end %>
</div>


