<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render_dialog do %>
      <%= dialog_trigger do %>
        <%= render_button variant: :outline do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
          </svg>
        <% end %>
        <%= dialog_content do %>
          <%= render partial: 'forms/organization_form',
            locals: { resource: @organization,
                      path: organization_path(@organization),
                      method: :patch } %>
        <% end %>
      <% end %>
    <% end %>
    <%= tooltip_content do %>
      <span class='text-xs text-muted-foreground'>
        Edit <%= @organization.name %>
      </span>
    <% end %>
  <% end %>
<% end %>

<%= render_tooltip do %>
  <%= tooltip_trigger do %>
    <%= render partial: 'forms/organization_form',
      locals: { resource: @organization,
                path: organization_path(@organization),
                method: :delete } %>
  <% end %>
  <%= tooltip_content do %>
    <span class='text-xs text-muted-foreground'>
      Delete <%= @organization.name %>
    </span>
  <% end %>
<% end %>

<% unless @organization.prospect.id %> 
  <div id='prospect_form_trigger'>
  <%= render_tooltip do %>
    <%= tooltip_trigger do %>
      <%= render_dialog do %>
        <%= dialog_trigger do %>
          <%= render_button variant: :outline do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          <% end %>
        <% end %>
        <%= dialog_content do %>
          <%= render partial: 'forms/prospect_form',
            locals: { organization: @organization,
                      prospect: @prospect,
                      path: organization_prospects_path(@organization.id),
                      method: :post } %>
        <% end %>
      <% end %>
      <%= tooltip_content do %>
        <span class='text-xs text-muted-foreground'>
          Add prospect information
        </span>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>

