<%= turbo_frame_tag "organizations_#{dom_id(current_user)}" do %>
    <div class='flex flex-col gap-4 p-6'>
        <%= render_form_with id: 'organization_search', class: 'h-full w-full max-w-md flex flex-row gap-2', method: :get, data: { turbo_permanent: true } do |f| %>
            <div class='relative group h-full w-full'>
                <%= f.search_field :name_or_headquarter_city_cont, placeholder: 'Search organizations...', class: 'w-full' %>
                <%= link_to organizations_path do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute top-0 right-2 translate-y-[50%] hidden group-hover:block text-muted-foreground size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                <% end %>
            </div>
            <%= f.submit 'Search' %>
        <% end %>

        <div>
            <%= render_dialog do %>
                <%= dialog_trigger do %>
                    <%= render_tooltip do %>
                        <%= tooltip_trigger do %>
                            <%= render_button variant: :outline do %>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                </svg>
                            <% end %>
                        <% end %>
                        <%= tooltip_content do %> 
                            <p>Add a new organization</p>
                        <% end %>
                    <% end %>
                <% end %>
                <%= dialog_content do %>
                    <%= turbo_frame_tag 'organization_form' do %>
                        <%= render partial: 'forms/organization_form', locals: { resource: @organization, path: organizations_path, method: :post } %>
                    <% end %>
                <% end %>
            <% end %>
        </div>

        <%= render_table do %>
            <%= table_head do %>
                <%= table_header do %>
                    <%= sort_link(@q, :id) %>
                <% end %>
                <%= table_header do %>
                    <%= sort_link(@q, :name) %>
                <% end %>
                <%= table_header do %>
                    <%= sort_link(@q, :organization_type) %>
                <% end %>
                <%= table_header do %>
                    <%= sort_link(@q, :headquarter_city) %>
                <% end %>
                <%= table_header do %>
                    <%= sort_link(@q, :headquarter_country) %>
                <% end %>
            <% end %>
            <%= table_body id: 'organizations' do %>
                <% @organizations.each do |organization| %>
                    <%= render partial: 'organization', locals: { organization: organization } %>
                <% end %>
            <% end %>
        <% end %>

        <nav class='w-full flex justify-center mt-2 text-muted-foreground text-sm' data-controller='pagy-initializer'>
            <%== pagy_nav_js(@pagy) if @pagy.pages > 1 %>
        </nav>
    </div>
<% end %>
