<%= turbo_frame_tag "details_#{current_user.id}" do %>
    <ul class='py-4 flex flex-col gap-4'>
        <li>
            <p>Birthdate</p>
            <p><%= current_user.birthdate %></p>
        </li>
        <li>
            <p>Mobile</p>
            <p><%= current_user.mobile %></p>
        </li>
        <li>
            <p>Team</p>
            <p><%= current_user.team %></p>
        </li>
        <li>
            <p>Team</p>
            <p><%= current_user.salary %></p>
        </li>
    </ul>
<% end %>