<!DOCTYPE html>
<html class="h-full bg-background text-muted-foreground transition-colors <%= cookies[:ui_theme] %>">
  <head>
    <title>SmarterGood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex min-h-screen h-full w-full flex-row overflow-hidden">
    <%= render 'components/layout/toast_messages' %>
    <%= render 'components/layout/sidebar' %>
    <main class='h-full w-full flex flex-col bg-muted'>
      <%= render 'components/layout/header' %>
      <%= render 'components/layout/mobile_header' %>
      <div class='flex-1 h-full w-full flex flex-col gap-4 px-6 py-4'>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
