<!DOCTYPE html>
<html class="h-full bg-background text-muted-foreground transition-colors <%= cookies[:ui_theme] %>">
  <head>
    <title>SmarterGood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex min-h-screen h-full w-full flex-col">
    <%= render 'components/layout/toast_messages' %>
    <%= render 'components/layout/header' %>
    <%= render 'components/layout/mobile_header' %>
    <div class='h-full w-full flex flex-col sm:flex-row gap-6 px-6 sm:px-16'>
        <%= render 'components/layout/settings_menu' %>
        <main class='h-full w-full sm:px-6 sm:py-12'>
            <%= yield %>
        </main>
    </div>
  </body>
</html>